<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KIAAN Internship</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KIAAN Internship", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
       
                    <li>@Html.ActionLink("INTERNSHIP", "Index", "Internship")</li>
                    <li>@Html.ActionLink("CORPORATE", "Index", "CorporateTraining")</li>
                    <li>@Html.ActionLink("CURRENT OPENINGS", "Index", "Openings")</li>
                    <li>@Html.ActionLink("UPLOAD RESUME", "Index", "Resume")</li>
                    <li>@Html.ActionLink("COMPANY ZONE", "Index", "CompanyZone")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KIAAN Internship</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
