
@{
    ViewBag.Title = "Index";
}

<h2>Corporate Trainings</h2>

@Html.ActionLink("Communcation Skills", "CommuncationSkills", "CorporateTraining")<br />
@Html.ActionLink("Leadership Skills", "LeadershipSkills", "CorporateTraining") <br />
@Html.ActionLink("BehaviorSkills", "BehaviorSkills", "CorporateTraining")<br />
@Html.ActionLink("Sales Skills", "SalesSkills", "CorporateTraining")<br />
@Html.ActionLink("HRSkills", "HRSkills", "CorporateTraining")

